@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	h1 {
		color: #FFF8D5;
		text-shadow: 
			0 0.1rem 0 #00000080,
			0 0 0.2rem #FBD61D,
			0 0 0.4rem #C2A303,
			0 0 0.6rem #887203,
			0 0 1.5rem #887203;
		@apply font-light;
	}

	.prose a {
		@apply no-underline;
	}

	.prose a:hover {
		color: theme("colors.orange.200");
	}

	/* Neon tricks: https://css-tricks.com/how-to-create-neon-text-with-css/ */

	.prose h2 {
		color: #FFC9FF;
		text-shadow: 
			0 0.1rem 0 #00000080,
			0 0 0.2rem #FDA2FD,
			0 0 0.4rem #FE58FE,
			0 0 0.6rem #960096,
			0 0 1.5rem #960096;
		@apply font-light text-3xl;
	}

	.prose h3 {
		color: #D5FEFF;
		text-shadow: 
			0 0.1rem 0 #00000080,
			0 0 0.2rem #1DF5FB,
			0 0 0.4rem #03BEC2,
			0 0 0.6rem #038588,
			0 0 1.5rem #038588;
		@apply font-light text-2xl;
	}

	.prose h4 {
		color: #FFF8D5;
		text-shadow: 
			0 0.1rem 0 #00000080,
			0 0 0.2rem #FBD61D,
			0 0 0.4rem #C2A303,
			0 0 0.6rem #887203,
			0 0 1.5rem #887203;
		@apply font-light text-xl;
	}

	.prose li {
		@apply m-1;
	}

	.prose li::marker {
		color: theme("colors.zinc.50");
	}

}
