<!DOCTYPE html>
<html class="dark" lang="{{ site.lang | default: "en-US" }}">
	<head>
{% seo %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% include head-custom.html %}
	</head>

	<body class="leading-tight dark:bg-zinc-900">
		<header
			id="top"
			class="mx-auto max-w-7xl border-x-2 border-zinc-200 bg-carbon-fiber bg-carbon-fiber-size py-6 px-4 dark:border-black sm:px-6 lg:px-8"
			role="banner"
		>
			<div class="grid grid-cols-4 gap-8 md:grid-cols-6 items-center">
				<a href="/">
					<img
						class="rounded-full border-4 border-zinc-900 shadow-lg shadow-zinc-900/50"
						src="/assets/images/cadeboost-neonlogo-square.jpg"
					/>
				</a>
				<div class="col-span-3 md:col-span-5">
					<h1 class="text-2xl sm:text-4xl">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
					<div class="mt-1 text-zinc-400 sm:mt-2 sm:text-xl">{{ page.description | default: site.description | default: site.github.project_tagline }}</div>
				</div>
			</div>
		</header>

		<main id="content" class="mx-auto max-w-7xl border-2 border-zinc-200 py-8 px-4 dark:border-black dark:bg-zinc-800 sm:px-6 lg:py-16 lg:px-8" role="main">
			<article class="prose prose-zinc max-w-none leading-normal dark:prose-invert">
{{ content }}
			</article>
		</main>

		<footer class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:py-8 lg:px-8">
			<div class="text-center text-base text-zinc-500">
				Copyright &copy; 2022-2023 <a href="/">CadeBoost</a>. <br class="sm:hidden" />
				All rights reserved.
			</div>
			<div class="mt-2 text-center">
				<a class="mx-2" href="https://www.instagram.com/cadeboost/" target="_blank">
					<img class="inline" src="/assets/images/social-instagram.png" width="60" height="60" alt="Instagram" />
				</a>
				<a class="mx-2" href="https://twitter.com/CadeBoost" target="_blank">
					<img class="inline" src="/assets/images/social-twitter.png" width="60" height="60" alt="Twitter" />
				</a>
			</div>
		</footer>
	</body>
</html>
