<!DOCTYPE html>
<html class="dark" lang="en-US">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<title>CadeBoost - Adventures in building an arcade pedestal</title>
	</head>

	<body class="leading-tight dark:bg-zinc-900">
		<header
			id="top"
			class="mx-auto max-w-7xl border-x-2 border-zinc-200 bg-carbon-fiber bg-carbon-fiber-size py-6 px-4 dark:border-black sm:px-6 lg:px-8"
			role="banner"
		>
			<div class="grid grid-cols-4 gap-8 md:grid-cols-6">
				<a href="/">
					<img
						class="place-self-center rounded-full border-4 border-zinc-900 shadow-lg shadow-zinc-900/50"
						src="/assets/images/cadeboost-neonlogo-square.jpg"
					/>
				</a>
				<div class="col-span-3 place-self-center md:col-span-5">
					<h1 class="text-3xl sm:text-4xl">CadeBoost</h1>
					<div class="mt-1 text-zinc-400 sm:mt-2 sm:text-xl">Adventures in building an arcade pedestal.</div>
				</div>
			</div>
		</header>

		<main id="content" class="mx-auto max-w-7xl border-2 border-zinc-200 py-8 px-4 dark:border-black dark:bg-zinc-800 sm:px-6 lg:py-12 lg:px-8" role="main">
			<article class="prose prose-zinc max-w-none leading-normal dark:prose-invert">
				<h2>Article Heading</h2>
				<p>This site is meant to document my journey through building a high-end arcade pedestal, being a total noob in the process.</p>
				<h3>A Sub-Heading</h3>
				<p>This is some additional information with a list:</p>
				<ul>
					<li>An important point with <a href="#">a link</a> to another page.</li>
					<li>Another point.</li>
					<li>The final point.</li>
				</ul>
				<h4>Details #1</h4>
				<p>This paragraph gives so much more detail than what could even be imagined.</p>
				<h4>Details #2</h4>
				<p>But alas, there is more detail to come here.</p>
			</article>
		</main>

		<footer class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:py-8 lg:px-8">
			<div class="text-center text-base text-zinc-500">
				Copyright &copy; 2022 <a href="/">CadeBoost</a>. <br class="sm:hidden" />
				All rights reserved.
			</div>
		</footer>
	</body>
</html>

