<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/style.css" />
	</head>

	<body>
		<header class="bg-gradient-to-r from-cyan-600 to-blue-600" role="banner">
			<div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:py-16 lg:px-8">
				<h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-6xl">CadeBoost</h1>
				<p class="mt-5 text-xl text-gray-200">Adventures in building an arcade pedestal.</p>
			</div>
		</header>

		<main id="content" class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:py-16 lg:px-8" role="main">
			<article class="prose">
				<h2>Article Heading</h2>
				<p>This site is meant to document my journey through building a high-end arcade pedestal, being a total noob in the process.</p>
			</article>
		</main>

		<footer class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
			<div class="mt-12 border-t border-gray-200 pt-8">
				<p class="text-base text-gray-400 xl:text-center">Copyright &copy; 2022 CadeBoost. All rights reserved.</p>
			</div>
		</footer>
	</body>
</html>

