<!DOCTYPE html>
<html class="dark" lang="en-US">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<title>CadeBoost - Adventures in building an arcade pedestal</title>
	</head>

	<body class="dark:bg-zinc-900 leading-tight">
		<header class="border-b-2 border-zinc-200 bg-carbon-fiber bg-carbon-fiber-size dark:border-zinc-700" role="banner">
			<div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
				<div class="grid grid-cols-4 gap-8 md:grid-cols-6">
					<img
						class="place-self-center rounded-full border-4 border-zinc-900 shadow-lg shadow-zinc-900/50"
						src="/assets/images/cadeboost-neonlogo-square.jpg"
					/>
					<div class="col-span-3 place-self-center md:col-span-5">
						<div class="text-2xl sm:text-4xl font-semibold text-zinc-100">CadeBoost</div>
						<div class="mt-1 sm:mt-2 sm:text-xl text-zinc-400">Adventures in building an arcade pedestal.</div>
					</div>
				</div>
			</div>
		</header>

		<main id="content" class="mx-auto max-w-7xl py-8 px-4 dark:bg-zinc-800 sm:px-6 lg:py-12 lg:px-8" role="main">
			<article class="prose prose-zinc max-w-none dark:prose-invert leading-normal">
				<h2>Article Heading</h2>
				<p>This site is meant to document my journey through building a high-end arcade pedestal, being a total noob in the process.</p>
				<h3>A Sub-Heading</h3>
				<p>This is some additional information with a list:</p>
				<ul>
					<li>An important point.</li>
					<li>Another point.</li>
				</ul>
			</article>
		</main>

		<footer class="mx-auto max-w-7xl border-t-2 border-zinc-200 py-6 px-4 dark:border-zinc-700 sm:px-6 lg:py-8 lg:px-8">
			<div class="text-center text-base text-zinc-500">
				Copyright &copy; 2022 CadeBoost. <br class="sm:hidden" />
				All rights reserved.
			</div>
		</footer>
	</body>
</html>

